@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FBF6E9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
